# All files built by the project are ignored, they are built upon execution.
# This allows a cleaner repo with only necessary files.

# Data except scenarios: 
data/*
!data/scenarios/

# Libraries:
include/

# executables:
bin/

# results:
results/

# tex source files from the report:
tex/

# Dead code: 
src/*
!src/+utils/concentration2reactivity_pcm.m